{% extends "base.html" %}

{% block 'title'%}Dashboard{% endblock %}


{% block 'body' %}
{% if messages %}
{% for message in messages %}
<div class="text-center alert alert-{{ message.tags }}">
  {{ message|safe }}
</div>
{% endfor %}
{% endif %}

<div class="container my-5">
  <h2 class="my-4">Resumo de Ativos</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for stock in stocks %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ stock.company_name }}</h5>
          <p class="card-text">CNPJ: {{ stock.cnpj }}</p>
          <p class="card-text">Código: {{ stock.code }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock%}