{% extends "base.html" %}

{% block 'title'%}Transações{% endblock %}

{% block 'body' %}
<div class="container mt-5">
  {% if messages %}
    {% for message in messages %}
      <div class="text-center alert alert-{{ message.tags }}">
        {{ message|safe }}
      </div>
    {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-12">
      <h2 class="text-center pb-4">Transações Realizadas</h2>
    </div>
  </div>
  <div class="row">
    <form method="GET" class="row gy-2 gx-3 px-3 py-3 align-items-center">
      <div class="col-auto">
        <label for="code" class="form-label">Código da Ação:</label>
      </div>
      <div class="col-auto">
        <input type="text" id="code" name="code" class="form-control">
      </div>
      <div class="col-sm-6 col-md-4">
        <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
      </div>
    </form>
    <div class="col-12">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">Ativo</th>
            <th scope="col">Tipo de operação</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Taxa de corretagem</th>
            <th scope="col">Valor total da operação</th>
            <th scope="col">Realizada em</th>
            <th scope="col">Detalhes</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
            <tr class="text-center">
              <td>{{transaction.stock}}</td>
              <td>{{transaction.operation_type}}</td>
              <td>{{transaction.quantity}}</td>
              <td>R$ {{transaction.unit_price}}</td>
              <td>R$ {{transaction.brokerage}}</td>
              <td>R$ {{transaction.get_total_trading_amount}}</td>
              <td>{{transaction.date|date:"d/m/Y"}} às {{transaction.date|date:"H:i"}}h</td>
              <td>
                <div class="px-sm-2">

                  <a href="{% url 'transaction-details' transaction.id %}" class="btn btn-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
                    <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
                    <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
                  </svg>
                </a>
              
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-6 col-md-4">
      <a href="{% url 'new-transaction' %}" class="btn btn-primary btn-block">Cadastrar transação</a>
    </div>
  </div>
</div>
{% endblock %}